
.intro {
    position: absolute;
    top: 50px;
    left: 50px;
    color: rgb(110, 77, 4);
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 3px dotted red;
    border-right: 3px dotted red;
    padding: 5px;
}

.Author {
    color: rgb(0, 255, 55);
}

table {
    margin-left: 28%;
    margin-top: 8%;
}

th h1 {
    background-color: yellow;
    text-align: center;
    margin-bottom: 0%;
    padding: 5px;
}

.width40 {
    width: 40px;
    text-align: center;
}

.orange {
    background-color: orange;
}

.lightblue{
    background-color: lightblue;
}

.fuchsia {
    background-color: fuchsia;
}

.aqua {
    background-color: aqua;
}

.olive {
    background-color: olive;
}

.lightyellow {
    background-attachment: lightyellow;
}

.lightgreen {
    background-color: lightgreen;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.white {
    background-color: white;
}